@import '../styles/variables';

* {
  font-family: 'Roboto';
  color: $color-light-grey;
}

.main {
  background-image: url('../../assets/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -12px;

  @media($break-tablet-landscape) {
    margin-top: -18px;
  }

  .grid {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 0 auto;

    @media($break-tablet-portrait) {
      max-width: 768px;
    }

    @media($break-tablet-landscape) {
      padding-top: 40px;
      max-width: 1024px;
    }

    @media($break-desktop) {
      max-width: 1440px;
    }

    &__container {
      position: relative;
      padding-top: 30px;
      width: 285px;

      @media($break-tablet-portrait) {
        margin: 0 30px;
      }

      @media($break-tablet-landscape) {
        width: 280px;
        margin: 30 30px;
      }

      @media($break-desktop) {
        width: 350px;
        margin: 30 50px;
      }

      &-play {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        position: absolute;
        padding: 10px 10px;
        bottom: 0;
        width: 100%;     
      }

      &-img {
        width: inherit;
      }

      &-title {
        align-self: center;
        color: $color-green;
        font-family: 'AlfaSlabOne';
        font-size: 1.6rem;
        font-weight: 100;
        line-height: 1.8rem;
      }
      
      &-button {
        width: 30px;
      }
    }

    &__description {
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding-top: 10px;
      width: 285px;

      @media($break-tablet-portrait) {
        margin: 0 30px;
      }

      @media($break-tablet-landscape) {
        width: 280px;
        margin: 10px 30px;
      }

      @media($break-desktop) {
        width: 350px;
        margin: 30 50px;
      }

      &-text {
        color: $color-grey;
        padding-top: 5px;
      }
    }
  }
}
