<div class="main">
  <div class="grid">
    <div *ngFor="let video of videos" class="video">
      <div class="grid__container">
        <img
          src="{{ video.snippet.thumbnails.high.url }}"
          alt="{{ video.snippet.title }}"
          class="grid__container-img"
        />
        <div class="grid__container-play">
          <h1 class="grid__container-title">{{ video.snippet.title }}</h1>
          <button routerLink="/play">
            <img
              src="./assets/play_button.svg"
              alt="play music symbol"
              class="grid__container-button"
            />
          </button>
        </div>
      </div>
      <div class="grid__description">
        <p class="grid__description-date">
          <b>Published on {{ video.snippet.publishedAt | date: "medium" }}</b>
        </p>
        <p class="grid__description-text">{{ video.snippet.description }}</p>
      </div>
    </div>
  </div>
</div>
