@import '../styles/variables';

.header {
  background-image: url('../../assets/header_bg.png');
  background-repeat: repeat-x;

  &__logo {
    width: 180px;
    padding: 26px 20px 0;

    @media($break-tablet-landscape) {
      width: 250px;
      padding-top: 20px;
    }
  }
}
