@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto-Regular.ttf') format('TrueType');
  font-style: normal;
}

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('assets/AlfaSlabOne-Regular.ttf') format('TrueType');
  font-size: normal;
}
