//Colors
$color-white: #ffffff;
$color-green: #66ffe0;
$color-light-grey: #E0E0E0;

// Media Queries
$break-tablet-portrait: 'min-width: 768px';
$break-tablet-landscape: 'min-width: 1024px';
$break-desktop: 'min-width: 1440px';

//Fonts
$font-primary: 'Roboto';
$font-secondary: 'AlfaSlabOne';
